.Details {
  @include marg(15);

  h1 {
    font-size: $fd-xl;
    font-weight: $fw-l;
    line-height: $base-lh;
    @include marg(6.8);
  }

  h3 {
    font-size: $fd-md;
    font-weight: $fw-sb;
    line-height: $base-lh;
    @include marg(2.8);
  }

  p {
    color: $font-light;
  }
}

@media (max-width: 991px) {
  .Details {
    @include marg(10);

    h3 {
      font-size: $ft-md;
      @include marg(2);
    }
  }
}
