doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title take | Advanced Photo App
    meta(name="description" content="Responsive take App Page. Check out our cool features!")
  body
    header.Top
      .container.h-100.d-flex.flex-column.justify-content-between
        .row
          .col
            a.logo(href="index.html") 
              i.logo-icon.mr-1
              span take
        .row
          .col.col-md-7.col-xl-5
            .header.my-auto.text-center.text-md-left
              h1.mb-2 Picture perfect
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        .row
          .col
            span.scroll-up.mx-auto.d-block.d-md-none