include ./includes/card

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title take | Advanced Photo App
    meta(name="description" content="Responsive take App Page. Check out our cool features!")
  body

    header.Top
      .container.h-100.d-flex.flex-column.justify-content-between
        .row
          .col
            a.logo(href="index.html") 
              i.logo-icon.mr-1
              span take
        .row
          .col.col-md-7.col-xl-5
            .header.my-auto.text-center.text-md-left
              h1.mb-2 Picture perfect
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        .row
          .col
            span.scroll-up.mx-auto.d-block.d-md-none

    section.New
      .container
        h2.mb-3#base Start something new
        .row
          .col-md-8.col-lg-6.align-self-end
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          .col-md-4.col-lg-6.phone
            .phone-image.d-none.d-md-block
        .row
          .col-lg-6
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            p.d-none.d-sm-block Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
          .col-lg-6.d-none.d-lg-block
            p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

    section.Boxes
      #sliders
        #slider1
          #slider1-container
            - const cards1 = [{color: "bg-danger", title: "Design quality"}, {color: "bg-secondary", title: "Built to last"}, {color: "image1", title: "Our clients", text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt", link: "Get insights"}, {color: "bg-info", title: "How to show great"}];
            for card in cards1
              +card(card)
        #slider2
          #slider2-container
            - const cards2 = [{color: "image2", title: "Sign up & see why", link: "Get Started Now "}, {color: "bg-success", title: "Perfect pictures"}, {color: "image3", title: "Start something new", }];
            for card in cards2
              +card(card)
    
    section.Details
      .container
        h2 A look at the details
        .row
          for title in ["Web based", "Performance", "Clultral", "Sustainability"]
            .col-md-6.col-lg-3.mb-5.mb-lg-0
              h3 #{title}
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    
    section.Showcase
      .container.h-100
        .row.h-100
          .col.col-md-7.col-xl-6.align-self-end
            h1.mb-3 
              | More power
              br
              | behind every pixel.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            a.btn-link(href="#")
              span See the options
              i.link-arrow  

    section.Reasons.bg-success.text-white
      .container
        h2 Reasons to get onboard
        .row
          for title in ["Web based", "Team login", "Great Support"]
            .col-lg-4.mb-5.mb-lg-0
              h3 #{title}
              p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
